/*--------------------*/
/*----BASIC SETUP-----*/
/*--------------------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

title {
    display: none;
}

html {
    width: 480px;
    height: 800px;
    color: #211212;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-rendering: optimizeLegibility;
    overflow: hidden;
    scroll-behavior: smooth;
    background-repeat: no-repeat;
}

body {
    display: flex;
    width: 480px;
    height: 800px;
    color: #211212;
    background: linear-gradient(to bottom right, #ffb13a, #ffe72c);
    background-repeat: no-repeat;
    overflow: hidden;
    scroll-behavior: smooth;

    flex-direction: column;
}